.largerImage {
  width: auto;
  height: 350px;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

section {
  background: lightgray;
  padding: 0;

  .cat-info {
    padding: 50px;
    display: block;
    margin: auto;

    h4 {
      margin-top: 20px;
    }

    .cat-name {
      font-size: 14px;
      font-weight: 600;
    }

    img {
      display: block;
      width: 100%;
      padding: 5px 0;

      &.largerImage {
        margin: auto;
        padding-top: 20px;
        width: auto;
        height: 250px;
        max-width: 100%;
        object-fit: contain;
      }
    }
  }
}

.inside-text {
  text-align: center;
  display: block;
  margin-bottom: 15px;
}

.center-text {
  padding: 0 200px;
}

.font-weight {
  font-weight: 600;
}

button {
  background-color: #0B84C9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 0 25px;
}
