<section class="container-fluid">
    <div class="row card-wrapper no-gutters catsList">
        <div class="col-12">
            <div *ngIf="dataLoaded && catInformation" class="row">
                <div class="cat-info">
                    <img class="largerImage" src="{{catInformation[0].url}}"/>
                    <div class="row col-12 inside-text font-weight"> {{catInformation[0].breeds[0].name}} </div>
                    <div class="row col-12 inside-text"> <a href="{{catInformation[0].breeds[0].wikipedia_url}}">
                        {{catInformation[0].breeds[0].wikipedia_url}}
                    </a></div>
                    <div class="row col-12 inside-text center-text"> {{catInformation[0].breeds[0].description}} </div>
                    <div class="row col-12 inside-text"> {{catInformation[0].breeds[0].temperament}} </div>

                    <div class="inside-text">
                        <button (click)="refreshData()">Refresh</button>
                        <button (click)="goBack()">Return</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
