section {
  background: lightgray;
  padding: 0;
}

.cats {
  padding: 13px 13px 13px 13px;
  cursor: pointer;

  h4 {
    margin-top: 20px;
  }

  .cat-name {
    font-size: 14px;
    font-weight: 600;
  }

  img {
    display: block;
    width: 100%;
    padding: 5px 0;

    &.largerImage {
      margin: auto;
      padding-top: 20px;
      width: auto;
      height: 250px;
      max-width: 100%;
      object-fit: contain;
    }
  }
}

.item {
  background: white;
  width: 100%;
  height: 350px;

  .item-content {
    margin: 0 20px;

    .row {
      &:last-child {
        height: 25px;
      }
    }
  }
}

.catsList {
  width: 75%;
  margin: auto;
}

.header {
  padding: 25px;
}

.header-section {
  background-color: white;
  margin-bottom: 45px;
}

label {
  font-size: 20px;
}
